<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>New Article</title>
<!-- Include the required files -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>

	<form action="#" th:action="@{/publishArticle(id = ${article.id})}" th:Object="${article}"
		method="POST">
		
	Title: <input type="text" th:field="*{title}" id="title" />	<button type="submit">Publish</button>
	<div>
	<br></br>
  <textarea id="summaryArea" th:field="*{summary}" rows="300" cols="100" th:inline="text">
  [[${article.summary]] 
	  
	      
        </textarea>
        </div>
   
	</form>

</body>
<script>
	var simplemde = new SimpleMDE({
		element : document.getElementById("summaryArea")
	});
</script>
</html>