<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>
<body>
<div th:replace="header :: header" ></div>

<span sec:authorize ="hasRole('ROLE_ADMIN')" ><a th:href=@{/updateArticle(id=${article.id})}>edit article</a>
</span>

    <div th:utext=${articleSummary}> 
   
        
    </div>
</body>
</html>